<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
     
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ef1d5a92e3d273bafd0402e37d85f115 {
                    position: relative;
                    width: 100.0%;
                    height: 80.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
 <h2><center>List of buses</center></h2> 
    <table class="table table-striped">
        <thead style="background-color: blue;color: white;">
        <td>BUS STOPS</td>
        <td>DISTANCE BETWEEN STOPS(IN KM)</td>
        <td>BUS NAME</td>
        <td>ESTIMATED TIME OF ARRIVAL</td>
    
       </thead>
    
        {% for index in app %}
        <tr>
            <td>{{index.route}}</td>
            <td>{{index.distance}}</td>
            <td>{{index.bustroute}}</td>
            <td>{{index.arrivaltime}}</td>
            
        </tr>
        {% endfor %}
    </table>
    <div>
        <body><h4> <center>emission compliance - Bharat Stage IV</center><br>
               <center>uses clean fuel(Compressed Natural Gas) for our conserving natural environment </center></h4>
        </body>
    </div>
    
            <div class="folium-map" id="map_ef1d5a92e3d273bafd0402e37d85f115" ></div>
        
</body>
<script>
    
    
            var map_ef1d5a92e3d273bafd0402e37d85f115 = L.map(
                "map_ef1d5a92e3d273bafd0402e37d85f115",
                {
                    center: [22.4934288, 88.2871806],
                    crs: L.CRS.EPSG3857,
                    zoom: 11,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_42b526f94e9c36fbe67ea339bd115842 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_ef1d5a92e3d273bafd0402e37d85f115);
        
    
            var marker_32352f4cce6fd222d57baeb1f58747ec = L.marker(
                [22.43576148, 88.29174072],
                {}
            ).addTo(map_ef1d5a92e3d273bafd0402e37d85f115);
        
    
            var icon_8cdc37e3b92e6358d646d8b9352738fe = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_32352f4cce6fd222d57baeb1f58747ec.setIcon(icon_8cdc37e3b92e6358d646d8b9352738fe);
        
    
        var popup_d21c0880cdb52307a015e61083fa4576 = L.popup({"maxWidth": "100%"});

        
            
                var html_baa9b39a470b781bbbc7384e36d673d5 = $(`<div id="html_baa9b39a470b781bbbc7384e36d673d5" style="width: 100.0%; height: 100.0%;">pailan  </div>`)[0];
                popup_d21c0880cdb52307a015e61083fa4576.setContent(html_baa9b39a470b781bbbc7384e36d673d5);
            
        

        marker_32352f4cce6fd222d57baeb1f58747ec.bindPopup(popup_d21c0880cdb52307a015e61083fa4576)
        ;

        
    
    
            var marker_7d261161732bb75d99f75f5a27f23b8b = L.marker(
                [22.45633263, 88.30440172],
                {}
            ).addTo(map_ef1d5a92e3d273bafd0402e37d85f115);
        
    
            var icon_b7dfbc280326159f03f04e8f3c65e83e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_7d261161732bb75d99f75f5a27f23b8b.setIcon(icon_b7dfbc280326159f03f04e8f3c65e83e);
        
    
        var popup_515cde884f96bcb1b18cb3d6fac1f3f4 = L.popup({"maxWidth": "100%"});

        
            
                var html_bb0a463e389252719b8131853ed7a9a3 = $(`<div id="html_bb0a463e389252719b8131853ed7a9a3" style="width: 100.0%; height: 100.0%;">3a,thakupukur  </div>`)[0];
                popup_515cde884f96bcb1b18cb3d6fac1f3f4.setContent(html_bb0a463e389252719b8131853ed7a9a3);
            
        

        marker_7d261161732bb75d99f75f5a27f23b8b.bindPopup(popup_515cde884f96bcb1b18cb3d6fac1f3f4)
        ;

        
    
    
            var marker_492a9f6c3a54ba41f0dcfc76fc17193c = L.marker(
                [22.48722715, 88.31322257],
                {}
            ).addTo(map_ef1d5a92e3d273bafd0402e37d85f115);
        
    
            var icon_d3444979f2af234c09a9c9db6b0e49cf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_492a9f6c3a54ba41f0dcfc76fc17193c.setIcon(icon_d3444979f2af234c09a9c9db6b0e49cf);
        
    
        var popup_b396af149bad1f2bea901cb6ac82877f = L.popup({"maxWidth": "100%"});

        
            
                var html_6d8d27aa1dba31daec622816278077ee = $(`<div id="html_6d8d27aa1dba31daec622816278077ee" style="width: 100.0%; height: 100.0%;">behala chowrasta </div>`)[0];
                popup_b396af149bad1f2bea901cb6ac82877f.setContent(html_6d8d27aa1dba31daec622816278077ee);
            
        

        marker_492a9f6c3a54ba41f0dcfc76fc17193c.bindPopup(popup_b396af149bad1f2bea901cb6ac82877f)
        ;

        
    
    
            var marker_49dec93323f6359fadba70d533ef73bb = L.marker(
                [22.50721401, 88.32010832],
                {}
            ).addTo(map_ef1d5a92e3d273bafd0402e37d85f115);
        
    
            var icon_3325cde5f1062164bf83baa6e0e48a52 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_49dec93323f6359fadba70d533ef73bb.setIcon(icon_3325cde5f1062164bf83baa6e0e48a52);
        
    
        var popup_dc3ab6b68ad5191d00e8371201ef48f1 = L.popup({"maxWidth": "100%"});

        
            
                var html_d363a154878d171265dac62fb38470b9 = $(`<div id="html_d363a154878d171265dac62fb38470b9" style="width: 100.0%; height: 100.0%;">taratala  </div>`)[0];
                popup_dc3ab6b68ad5191d00e8371201ef48f1.setContent(html_d363a154878d171265dac62fb38470b9);
            
        

        marker_49dec93323f6359fadba70d533ef73bb.bindPopup(popup_dc3ab6b68ad5191d00e8371201ef48f1)
        ;

        
    
    
            var marker_8e8c5fa6b500e15fb96cab2ca028e55b = L.marker(
                [22.51958592, 88.32393621],
                {}
            ).addTo(map_ef1d5a92e3d273bafd0402e37d85f115);
        
    
            var icon_4d9dc4c47b12ca6e137179fcf24a5ef9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_8e8c5fa6b500e15fb96cab2ca028e55b.setIcon(icon_4d9dc4c47b12ca6e137179fcf24a5ef9);
        
    
        var popup_76887b4eb529876d2b36ced5868d2f70 = L.popup({"maxWidth": "100%"});

        
            
                var html_84f795ddea620f21f7c487b18f3ff80a = $(`<div id="html_84f795ddea620f21f7c487b18f3ff80a" style="width: 100.0%; height: 100.0%;">mominpur </div>`)[0];
                popup_76887b4eb529876d2b36ced5868d2f70.setContent(html_84f795ddea620f21f7c487b18f3ff80a);
            
        

        marker_8e8c5fa6b500e15fb96cab2ca028e55b.bindPopup(popup_76887b4eb529876d2b36ced5868d2f70)
        ;

        
    
    
            var marker_ef74b4f683e3742368cd6edb68974544 = L.marker(
                [22.5183076, 88.33318676],
                {}
            ).addTo(map_ef1d5a92e3d273bafd0402e37d85f115);
        
    
            var icon_1563eda8886a6cb60889a46e6721019d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ef74b4f683e3742368cd6edb68974544.setIcon(icon_1563eda8886a6cb60889a46e6721019d);
        
    
        var popup_8717978ee5e91ccf0e8ab7861d64c6b6 = L.popup({"maxWidth": "100%"});

        
            
                var html_aa7729607890d9fed7c7e08c66af8bea = $(`<div id="html_aa7729607890d9fed7c7e08c66af8bea" style="width: 100.0%; height: 100.0%;">kala bagan  </div>`)[0];
                popup_8717978ee5e91ccf0e8ab7861d64c6b6.setContent(html_aa7729607890d9fed7c7e08c66af8bea);
            
        

        marker_ef74b4f683e3742368cd6edb68974544.bindPopup(popup_8717978ee5e91ccf0e8ab7861d64c6b6)
        ;

        
    
    
            var marker_47d02ad27e81742abb298848485444dd = L.marker(
                [22.51705835, 88.33989838],
                {}
            ).addTo(map_ef1d5a92e3d273bafd0402e37d85f115);
        
    
            var icon_290eed3ae4f224b944917e592e9636b5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_47d02ad27e81742abb298848485444dd.setIcon(icon_290eed3ae4f224b944917e592e9636b5);
        
    
        var popup_cc795fd5bf4ac66959cac7da1fa8fb55 = L.popup({"maxWidth": "100%"});

        
            
                var html_7f9833ad0047fde686f3849154d07c34 = $(`<div id="html_7f9833ad0047fde686f3849154d07c34" style="width: 100.0%; height: 100.0%;">chetla   </div>`)[0];
                popup_cc795fd5bf4ac66959cac7da1fa8fb55.setContent(html_7f9833ad0047fde686f3849154d07c34);
            
        

        marker_47d02ad27e81742abb298848485444dd.bindPopup(popup_cc795fd5bf4ac66959cac7da1fa8fb55)
        ;

        
    
    
            var poly_line_ee4934e06d63d91dc2f776f287370cab = L.polyline(
                [[22.43576148, 88.29174072], [22.45633263, 88.30440172], [22.48722715, 88.31322257], [22.50721401, 88.32010832], [22.51958592, 88.32393621], [22.5183076, 88.33318676], [22.51705835, 88.33989838]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": "5", "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": ".85", "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_ef1d5a92e3d273bafd0402e37d85f115);
        
    
            poly_line_ee4934e06d63d91dc2f776f287370cab.bindTooltip(
                `<div>
                     Transit Route 101
                 </div>`,
                {"sticky": true}
            );
        
</script>

</html>